<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Operation Center</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${viewConfig.currentTab == 'Dashboard'} ? 'active' : ''" aria-current="page" href="/">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${viewConfig.currentTab == 'Tool List'} ? 'active' : ''" href="/tools">
                    <span data-feather="file" class="align-text-bottom"></span>
                    Tool List
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${viewConfig.currentTab == 'System'} ? 'active' : ''" href="/system">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    System
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${viewConfig.currentTab == 'files'} ? 'active' : ''" href="/files">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    File List
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${viewConfig.currentTab == 'logs'} ? 'active' : ''" href="/logs">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    Log List
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>