<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/Common.html :: head}"></head>
<body>
<head th:replace="~{include/Common.html :: header}"></head>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{include/NavBar.html :: navbar}"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="~{include/Common.html :: title}"></div>
            <div class="row">
                <div class="col">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="col">
                    <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
            </div>

            <div th:replace="~{include/Common.html :: end}"></div>
        </main>
    </div>
</div>
</body>
</html>
<footer th:replace="~{include/Common.html :: footer}"></footer>
<script src="/js/chart.js"></script>
<script th:inline="javascript">
    var dashBoardData = /*[[${viewConfig.data}]]*/ 'default';
</script>
<script>
    $(function () {
        const counts = dashBoardData;
        const labels = Object.keys(counts);
        const dataValues = Object.values(counts);

        const data = {
            labels: labels,
            datasets: [{
                label: '사용횟수',
                data: dataValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                borderRadius: 5,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                },
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        const data2 = {
            labels: labels,
            datasets: [
                {
                    label: '사용횟수',
                    data: dataValues,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 205, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        };

        const config2 = {
            type: 'pie',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                    }
                }
            },
        };

        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );
    });
</script>