<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/Common.html :: head}"></head>
<body>
<head th:replace="~{include/Common.html :: header}"></head>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{include/NavBar.html :: navbar}"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="~{include/Common.html :: title}"></div>
            <div class="row" style="height: 500px; overflow-y: auto;">
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">기능</th>
                            <th scope="col">작업일시</th>
                            <th scope="col">로그파일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="logInfo, iterStat : ${viewConfig.data.logList}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${logInfo.type}"></td>
                            <td th:text="${logInfo.regDts}"></td>
                            <td>
                                <a th:href="'http://172.16.234.132:80/download/logs/' + ${logInfo.logName}"
                                   target="_blank">
                                    <button type="button" class="btn btn-outline-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                             fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                        다운로드
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:replace="~{include/Common.html :: end}"></div>
        </main>
    </div>
</div>
</body>
<footer th:replace="~{include/Common.html :: footer}"></footer>
</html>