<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/Common.html :: head}"></head>
<body>
<head th:replace="~{include/Common.html :: header}"></head>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{include/NavBar.html :: navbar}"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="~{include/Common.html :: title}"></div>

            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col"></div>
                    <div class="col text-center">
                        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                             src="/images/kali.jpg">
                        <h2 class="fw-normal">System</h2>
                        <p>Kali Linux 시스템에 직접적으로 명령을 내리거나, 프로세스를 제어합니다.</p>
                    </div>
                    <div class="col"></div>
                    <div class="row mb-3">
                        <div class="col"></div>
                        <div class="col-10 text-center">
                            <div class="row mb-5">
                                <div class="col">
                                    <label class="form-label">명령어</label> <input
                                        type="text" class="form-control mb-3" placeholder="Command" id="command">
                                    <div class="d-grid gap-2 col-6 mx-auto mb-1">
                                        <button id="systembtn" class="btn btn-outline-success" type="button"
                                                onclick="system();">Start
                                        </button>
                                        <button id="loadingbtn"
                                                class="btn btn-outline-success" type="button" style="display: none"
                                                disabled>
					<span class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span> 진행중...
                                        </button>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col">
                                        </div>
                                        <div class="col">
                                            <a class="col-form-label col-form-label-sm float-end"
                                               id="rslogdiv"></a>
                                        </div>
                                    </div>
                                    <label class="form-label">PID 조회</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="pidname"
                                               placeholder="Process Name">
                                        <button class="btn btn-outline-success" type="button" onclick="systemPid()">
                                            Start
                                        </button>
                                    </div>
                                    <label class="form-label">프로세스종료</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="terminatename"
                                               placeholder="Process Name">
                                        <button class="btn btn-outline-success" type="button"
                                                onclick="systemTerminate()">
                                            Start
                                        </button>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="systemResult" class="form-label">결과</label>
                                    <textarea class="form-control h-100" id="systemResult" rows="10"
                                              readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div th:replace="~{include/Common.html :: end}"></div>
        </main>
    </div>
</div>
</body>
<footer th:replace="~{include/Common.html :: footer}"></footer>
</html>